body {
  background-color: #bbbbbb;
}

.container {
    margin-top: 50%;
}

.form-group {
  padding-top: 10%;
  font-size: 30px;
}

.form-control {
  width: 70%;
}

button {
	border-radius: 10px;
	padding-left: 20px;
  padding-right: 20px;
  padding-top: 2px;
  padding-bottom: 2px;
	background-color: #292929;
	border: none;
	color: white;
	font-size: 20px;
	margin-top: 20px;
    width: 80%;
    height: 100px;
    font-size: 150%;
}

td {
    font-weight: bold;
}

.tableDiv {
    height: 600px;;
    overflow: auto;
}