.formbox {
  margin-top: 100px;
  border-radius: 20px;
  padding-top: 150px;
  padding-bottom: 100px;
  background-color: #8c8c8c;
  color: rgb(43, 43, 43);
  max-width: 300px;
}

button {
	border-radius: 5px;
	padding: 5px 5px;
	background-color: #292929;
	border: none;
	color: white;
	font-size: 14px;
	width: 100px;
	margin-top: 20px;
}
