<!DOCTYPE html>
<html lang="en">

    <head>
        {{{headerContents}}}
        <script src="scripts/auth.js"></script>
        <script>
            function process()
            {
                if (!firebase.auth().currentUser) {
                    firebase.auth().signInAnonymously().catch(function(error) {
                        // Handle Errors here.
                        var errorCode = error.code;
                        var errorMessage = error.message;
                        console.log(errorCode);
                    });
                }
                var url="/session/" + document.getElementById("session_id").value;
                location.replace(url);
                return false;
            }
        </script>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
<!--
                <div class="form-inline" id="login-form">
                    <label for="email">Email: </label>

                    <input class="form-control mr-sm-2" type="text" id="email" placeholder="Type in your email"/>
                    <label for="password">Password: </label>
                    <input class="form-control mr-sm-2" type="password" id="password" placeholder="Type in your password" />
                    <button class="btn btn-primary" id="login" type="submit" >Login</button>
                    <ul class="navbar-nav mr-sm-2">
                        <li class="nav-item">
                            <a class="nav-link" id="sign-up" href="/signup">Sign up</a>
                        </li>
                    </ul>
                </div>
-->
                {{{loginForm}}}
                {{{logoutForm}}}
            </nav>
            <form onSubmit="return process();">
                <div class="form-group">
                    <label for="session_id">Join a session:</label>
                    <input class="form-control" type="text" id="session_id" name="session_id"/>
                </div>
                <input type="submit" class="btn btn-primary" value="Join"/>
            </form>
        </div>
    </body>
</html>