<!DOCTYPE html>
<html lang="en">

    <head>
        {{{headerContents}}}
        <script src="scripts/session.js"></script>
    </head>

    <body>
        {{{logoutForm}}}
        <div id="session_objs">
        </div>
        <a href="/">Back to home</a>
    </body>
</html>