<!DOCTYPE html>
<html lang="en">

    <head>
        {{{headerContents}}}
        <script src="scripts/session.js"></script>
    </head>

    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                {{{logoutForm}}}
            </nav>
            <div id="session_objs">
            </div>
            <a href="/">Back to home</a>
        </div>
    </body>
</html>