<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link href="style/global.css" rel="stylesheet">
    <link href="style/mainview.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <form actions="/session" method="POST">
        <label for="session_name">Session name: </label>
        <input type="text" name="session_name" placeholder="Type in the session name"/>
        <input type="submit" value="Submit" />
    </form>
    <ol>
    {{#each sessions}}
        <li>Value = {{#this}} {{session_name}}{{/this}}</li>
    {{/each}}
    </ol>
    <a href="/">Back to home</a>
</body>

</html>