<!DOCTYPE html>
<html lang="en">

    <head>
        {{{headerContents}}}
    </head>
    <script>
        var config = {
            apiKey: "AIzaSyB4WsRTYAg27pPz_Hdf-pLcaZPR-IxlHB0",
            authDomain: "educhange-nwhacks.firebaseapp.com",
            databaseURL: "https://educhange-nwhacks.firebaseio.com",
            projectId: "educhange-nwhacks",
            storageBucket: "educhange-nwhacks.appspot.com",
            messagingSenderId: "654557831315"
        };

        firebase.initializeApp(config);

        function App() {
            this.signUpButton = document.getElementById('signup');

            this.signUpButton.addEventListener('click', this.signUp.bind(this));

            this.initFirebase();
        }

        App.prototype.initFirebase = function() {
            firebase.auth().onAuthStateChanged(this.onAuthStateChanged.bind(this));
        }

        App.prototype.signUp = function() {
            let emailInput = document.getElementById('email');
            let passwordInput = document.getElementById('password');
            firebase.auth().createUserWithEmailAndPassword(emailInput.value, passwordInput.value).catch(function(error) {
                alert(error.message);
            }).then(function() {
                firebase.auth().signInWithEmailAndPassword(emailInput.value, passwordInput.value);
            });
        }

        App.prototype.onAuthStateChanged = function (user) {
            if (user){
                alert("Sign up successful.");
                location.replace('/dashboard');
            } else {
            }
        }

        window.onload = function() {
            window.app = new App();
        }
    </script>
    <body>
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                {{{loginForm}}}
            </nav>
            <h1>Sign Up</h1>
            <form>
                <div class="form-group">
                    <label for="email">Email: </label>
                    <input class="form-control" type="text" id="email" name="email" placeholder="Type in your email"/>
                </div>
                <div class="form-group">
                    <label for="Password">Password: </label>
                    <input id="password" class="form-control" type="password" name="password" placeholder="Type in your password" />
                </div>
                <button id="signup" class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </body>

</html>